@import "normalize";
@import "plugins/countdown";
@import "plugins/owlcarousel";
@import "plugins/checkbox";
@import "plugins/swiper/swiper";
@import "mixins";
@import "animation";
@import "modal";


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*vars*/
@red: #ff0028;
@full-width: 100vw;

h1 {
  margin: 0;
  padding: 0;
}

/**/
.main-header {
  position: absolute;
  //top: 4.6%;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 10%;
  padding-top: 26px;
  &:after {
    content: "";
    position: absolute;
    left: 7%;
    right: 7%;
    bottom: 0;
    width: 86%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0);
    .transition(background-color 0.2s);
  }
}
.main-header__right {
  position: absolute;
  right: 6.8%;
  display: block;
  margin-top: -10px;
  margin-right: -10px;
}
.logo {
  position: absolute;
  left: 6%;
  display: block;
  max-width: 82px;
  height: auto;
  .transition(opacity 0.35s);
}
.logo-black {
  opacity: 1;
  z-index: 1;
}
.logo-white {
  opacity: 0;
  z-index: 0;
}
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  padding-left: 27px;
  list-style: none;
  background-color: #000;
  .transition(all 0.35s);
}
.menu-active {
  .logo-black {
    opacity: 0;
    z-index: 0;
  }
  .logo-white {
    opacity: 1;
    z-index: 1;
  }
  .menu {
    right: 0;
  }
  .product__category {
    border-color: #fff;
  }
  .hamburger-icon span {
    background-color: #fff;
  }
  .main-header {
    position: absolute;
    &:after {
      background-color: #fff;
    }
  }
  .product__category {
    color: #fff;
  }
}
.menu__item {
  display: block;
  a {
    display: inline-block;
    padding: 10px 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}

.mobilemenu-trigger {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  opacity: 1;
  .transition(all 0.35s);
}
.hamburger-icon {
  display: block;
  width: 18px;
  span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 0 0 5px;
    background-color: #000;
    .transition(background-color 0.35s);
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.timer--small {
  float: right;
  margin-right: 40px;
}
.timer--time {
  display: inline-block;
  vertical-align: -2px;
  font-size: 8px;
  color: #ee322d;
}

.product {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding-right: 6.8%;
  text-align: right;
  color: #fff;
  .transition(all 0.30s);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  > .t {
    position: relative;
    top: 10%;
    height: 60.5%;
    .transition(all 0.30s ease-in-out);
    .translate(0,0,0);
    left: -100%;
  }
}
.product__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 29.5%;
  background-color: #fff;
  img {
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
  }
}

.product__category {
  display: inline-block;
  padding: 1px 15px;
  vertical-align: middle;
  font-size: 12px;
  color: @red;
  border: 1px solid @red;
  text-decoration: none;
  text-transform: uppercase;
  .transition(all 0.35s);
}

.product__name {
  h1 {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width: 320px) {
      font-size: 24px;
      line-height: 28px;
    }
    span {
      display: block;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      @media (max-width: 320px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
.product__description {
  padding-left: 100px;
  font-size: 14px;
  line-height: 18px;
  @media (max-width: 320px) {
    padding-left: 80px;
  }

}
.gallery-trigger {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  img {
    margin-left: 15px;
    border: 2px solid #fff;
    border-radius: 50px;
  }
  span {
    display: inline-block;
    text-decoration: underline;
  }
}

.slide-left {
  position: relative;
}
.model {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
/**/
.main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  border-top: 1px solid #a7a7ac;
  .container {
    margin-left: 6.8%;
    margin-right: 6.8%;
    padding-top: 4%;
  }
  .container .row:first-child {
    margin-bottom: 2.5%;
  }
  .row {
    position: relative;
    margin-bottom: 22px;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

/*rozmiary produktów*/
.sizer__trigger {
  display: block;
  padding-right: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: url(../img/ico-arrow-bottom.png) no-repeat 80% 50% @red;
  > span {
    display: block;
    color: #fff;
  }
}
.sizer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 6.8%;
  padding-right: 6.8%;
  margin-bottom: 22px;
  .btn {
    height: 57px;
    font-size: 30px;
    line-height: 57px;
  }
}
.sizer__sizes {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  input {
    display: none;
  }
}
.sizer__size {
  float: left;
  width: 18.23%;
  height: 57px;
  margin-left: 2.2%;
  font-size: 27px;
  line-height: 57px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  .transition(background-color 0.35s);
  &.active,
  &:active,
  &:hover,
  &:focus {
    color: @red;
    background-color: #fff;
  }
  &:nth-child(1) {
    margin-left: 0;
  }
}

.aloha-from-deer-logo {
  width: 49px;
  height: 49px;
  margin-top: 3px;
}

/*---------Procentowe obniżki---------------*/
.shapes {
  float: left;
  width: 20%;
  text-align: center;
  .absolute {
    position: absolute;
    right: 3%;
    top: -45px;
    z-index: 1;
    opacity: 1;
    .transition(all 0.25s);
  }
  .static {
    margin: auto;
  }
}
/*-------------------------------------------*/
/**/
.is-countdown {
  display: block;
  float: left;
  margin-left: 2.2%;
  margin-right: 2.2%;
  width: 55.6%;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.050em;
  text-align: center;
  color: #000;
}
.discount {
  > span {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
  }
  sup {
    font-size: 12px;
    top: -0.9em;
    vertical-align: super;
  }
}
.discount--before {
  display: block;
  color: #000;
  overflow: hidden;
  background-size: contain;
  .line-wrap {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1;
  }
  .shape-cross-line {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../img/shape-cross-line.png) no-repeat;
  }
  .prize {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1;
  }
  sup {
    left: -0.3em
  }
}
.discount--after {
  position: relative;
  color: #fff;
  background-color: @red;
  sup {
    position: absolute;
    right: 4px;
    top: 10px;
  }
}

/**/
/*all*/
.product__size,
.btn--buy,
.discount {
  float: left;
  height: 57px;
  line-height: 57px;
}

.product__size {
  width: 20%;
  font-size: 23px;
}
.btn--buy {
  width: 55.6%;
  margin-left: 2.2%;
  margin-right: 2.2%;
  font-size: 30px;
  text-align: center;
}
.discount {
  width: 20%;
  font-size: 23px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ico, .shape {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*---------kształty---------*/
.shape {
  display: block;
  /*width: 72px;
  height: 72px;*/
  width: 45px;
  height: 45px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 45px;
  font-weight: 700;

  text-indent: 0;
  text-align: center;

  -webkit-background-size: 45px 45px;
  background-size: 45px 45px;
}
.shape-star-red {
  background-image: url(../img/shape-star-red.png);

}
.shape-star-white {
  background-image: url(../img/shape-star-white.png);
}
/*--------------------------*/

.shape-cross-line {
  background-image: url(../img/shape-cross-line.png);
}
.ico-arrow-bottom {
  background-image: url(../img/ico-arrow-bottom.png);
}
.ico-arrow-top {
  background-image: url(../img/ico-arrow-top.png);
}
.shape-star-white {
  color: #ee322d;
}
.shape-star-red {
  color: #fff;
}
/**/
.btn {
  display: block;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: @red;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
.btn-red {
  background-color: @red;
}
.btn-white {
  color: @red;
  background-color: #fff;
}
.btn:hover {
  background-color: #000;
}
/**/
body {
  padding: 0;
  overflow: hidden;
  height: 100%;
}
html {
  overflow: hidden;
  height: 100%;
}
.container {
  position: relative;
}
.main-body,
div[class^="owl"] {
  height: 100%;
}
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.row {
  clear: both;
}

.t {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.tc {
  display: table-cell;
  vertical-align: middle;
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .translate(0,0,0);
  &-girls {
    left: -50%;
    background-color: rgba(34, 2, 18, 0.8);
  }
  &-boys {
    right: -50%;
    background-color: rgba(5, 10, 38, 0.8);
  }
}

.layer-text {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  line-height: 100vh;
  span {
    display: block;
    width: 50%;
    text-align: center;
    pointer-events: none;
  }
  .translate(0,0,0);
  &__girls {
    left: -50%;
    text-align: right;
    span {
      float: right;
    }
  }
  &__boys {
    right: -50%;
    text-align: left;
    span {
      float: left;
    }
  }
}


.wrapper {
  position: relative;
  height: 100%;
}
#girls,
#boys {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
#girls {
  left: -50%;
  .wrap {
    right: -50%;
  }
}
#boys {
  right: -50%;
  .wrap {
    left: -50%;
  }
}
#girls .wrap,
#boys .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-body {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.show-details,
.hide-details,
.modal-close {
  position: absolute;
  z-index: 5;
}
.show-details,
.hide-details {
  position: absolute;
  left: 11.3%;
  top: 29%;
  z-index: 5;
  height: 50px;
  width: 50px;
  margin-top: -9px;
  margin-left: -9px;
  text-align: center;
  opacity: 1;
  visibility: visible;
  .ico {
    margin-top: 9px;
    width: 32px;
    height: 32px;
  }
}
.show-details {
  .ico {
    pointer-events: none;
    background: url(../img/button-add.png) no-repeat 50%;
    -webkit-background-size: 32px;
    background-size: 32px;
  }
}
.hide-details {
  .ico {
    background: url(../img/button-hide.png) no-repeat 50%;
    background-size: 32px;
    -webkit-background-size: 32px;
  }
}

.form-group {
  margin-bottom: 20px;
}
.form-control {
  width: 100%;
  padding-left: 10px;
  font-family: Robot, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5d5d5d;
  border-color: #a1a1a1;
  border-width: 0 0 1px;
  border-style: solid;

}
::-webkit-input-placeholder {
   color: #5d5d5d;
}
:-moz-placeholder {
  opacity: 1;
   color: #5d5d5d;
}
::-moz-placeholder {
  opacity: 1;
   color: #5d5d5d;
}
:-ms-input-placeholder {
   color: #5d5d5d;
}
.form-label {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #5d5d5d;
  span {
    color: #b6b6b6;
  }
}
.form {
  padding-top: 90px;
  .inline {
    .form-control {
      float: left;
      width: auto;
      &:nth-child(1) {
        width: 40%;
        margin-right: 5%;
      }
      &:nth-child(2) {
        width: 55%;
      }
    }
  }
  .form-label a {
    color: #5d5d5d;
  }
  .checkbox {
    margin-bottom: 30px;
    padding-left: 10px;
    input[type="checkbox"] {
      float: left;
    }
    .form-label {
      display: block;
      overflow: hidden;
    }
    .jquery-checkbox {
      img {
        width: 23px;
        height: 23px;
        background: transparent url(../img/input-checkbox.png) no-repeat;
      }
    }
    .jquery-checkbox-checked img {
      background-position: 0 -23px;
    }
  }
  .radio {
    margin-bottom: 20px;
    padding-left: 10px;
    input[type="radio"] {
      float: left;
    }
    .form-label {
      display: block;
      padding-top: 4px;
      overflow: hidden;
    }
    .jquery-checkbox {
      img {
        width: 23px;
        height: 23px;
        background: transparent url(../img/input-radio.png) no-repeat;
      }
    }
    .jquery-checkbox-checked img {
      background-position: 0 -23px;
    }
  }
  .payu {
    label span {
      color: @red;
    }
  }
  .cod {
    label span {
      color: #b6b6b6;
    }
  }
  .form-group:before,
  .form-group:after,
  .checkbox:before,
  .checkbox:after,
  .radio:before,
  .radio:after {
      content: "";
      display: table;
  }
  .form-group:after,
  .checkbox:after,
  .radio:after {
      clear: both;
  }
  .btn {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 57px;
    font-size: 20px;
    line-height: 57px;
    b {
      display: inline-block;
      vertical-align: top;
    }
    span {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      font-size: 28px;
    }
    sup {
      display: inline-block;
      vertical-align: 0.5em;
      font-size: 12px;
      text-transform: none;
    }
  }
}

.purchase {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  // padding-bottom: 2%;
  padding-left: 6%;
  height: 70px;
  .v-center {
    display: table;
    width: 100%;
    height: 100%;
  }
  .v-center-inner {
    display: table-cell;
    height: 54px;
    vertical-align: middle;
  }
}
.purchese-thumb {
  display: block;
  float: left;
  max-width: 15%;
  height: auto;
  @media (min-width: 320px) {
    max-width: 100%;
  }
}
.purchese-details {
  display: block;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 30px;
  color: #fff;
  @media (min-width: 480px) {
    padding-left: 20px;
    padding-right: 0;
  }
  h2 {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
    @media (min-width: 480px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
}

body.girls {
  #productModal .modal-overlay {
    background-color: rgba(34, 2, 18, 0.8);
  }
  .menu__item--boys { display: none; }
  .menu__item--girls { display: block; }
}
body.boys {
  #productModal .modal-overlay {
    background-color: rgba(5, 10, 38, 0.8);
  }
  .menu__item--girls { display: none; }
  .menu__item--boys { display: block; }
}

.text {
  position: absolute;
  top: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Robot", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  opacity: 0;
  visibility: hidden;

  h2 {
    font-weight: 700;
  }
  * {
    margin: 0;
    padding: 0;
  }
}

.owl-carousel {
    > div {
      display: none;
      float: left;
      width: 100%;
      &:first-child {
        display: block;
      }
    }
}

.text-indent {
  text-indent: 50px;
}

.discount--after {
  position: relative;
}
.model {
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
}
.gif-set (@width; @height) {
  margin: auto;
  display: block;
  width: @width;
  height: @height;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  //1.35
}

.gif {
  .gif-set(@width: 143px; @height: 215px);
}
@media (min-height: 500px) {
  .gif {
    .gif-set(@width: 203px; @height: 305px);
  }
}
@media (min-height: 600px) {
  .gif {
    .gif-set(@width: 210px; @height: 315px);
  }
}
@media (min-height: 650px) {
  .gif {
    .gif-set(@width: 270px; @height: 405px);
  }
}
@media (min-height: 900px) {
  .gif {
    .gif-set(@width: 390px; @height: 585px);
  }
}
#girls  {
  .gif0 {
    background-image: url(../img/gif/girls/gif0.jpg);
  }
  .gif1 {
    background-image: url(../img/gif/girls/gif1.jpg);
  }
}
#boys .gif {
  background-image: url(../img/gif/boys/gif.jpg);
}

.to-portrait-info {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  display: none;
}
@media (orientation: landscape) {
  .to-portrait-info {
    display: block;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.relative {
  position: relative;
}