.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.translate(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}

.translateX(@x) {
  -webkit-transform: translateX(@x);
  -ms-transform: translateX(@x);
  -o-transform: translateX(@x);
  transform: translateX(@x);
}

.translateY(@y) {
  -webkit-transform: translatey(@y);
  -ms-transform: translatey(@y);
  -o-transform: translatey(@y);
  transform: translatey(@y);
}

.translateZ(@z) {
  -webkit-transform: translateZ(@z);
  -ms-transform: translateZ(@z);
  -o-transform: translateZ(@z);
  transform: translateZ(@z);
}